/*
Name: Rameel Zahid
Assignment: 05
Purpose: The purpose of this is to organize the page and make it look very presentable.
 */

footer{
    background: #bdd7ff;
}



.body-div{
    text-align: center;
    margin-top: 20px;
}

.centered{
    text-align: center;
}


@media (max-width: 600px)  {
  
  form {
    text-align:center;
  }
	input {
	 width: 80%;
	 background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;
	}
	textarea {
	 width: 80%;
   background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;
	}
  input-div {
	 width: 80%;
	 background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;

  }
  textarea {
     width: 80%;
     background-color: #FFC5FC;
     color: black;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
  }
  #form-div {
      margin: 100px auto;
  }

  form-div {
      width: 100%;
  }

  form-container{
      text-align: center;
      margin: 50px auto;
      width: 100%;
  }

  button {
    background-color: #094C83;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  table {
      margin: 50px auto;
      width: 100%;
      overflow-x:auto;
      table-layout:fixed;
  }
  img {
    max-width:100%;
    height:auto;
 }
}

@media (min-width: 1200px) {
  form {
    text-align:center;
  }
	input {
	 width: 80%;
	 background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;
	}
	textarea {
	 width: 80%;
   background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;
	}
  input-div {
	 width: 80%;
	 background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;

}
  textarea {
     width: 80%;
     background-color: #FFC5FC;
     color: black;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
  }
  #form-div {
      margin: 100px auto;
  }

  form-div {
      width: 100%;
  }

  form-container{
      text-align: center;
      margin: 50px auto;
      width: 100%;
  }

  button {
    background-color: #094C83;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  table {
      margin: 50px auto;
      width: 100%;
      overflow-x:auto;
      table-layout:fixed;
  }
  img {
      max-width:100%;
      height:auto;
  }

}

@media (min-width: 400px) and (max-width: 1200px) {
	  form {
    text-align:center;
  }
	input {
	 width: 80%;
	 background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;
	}
	textarea {
	 width: 80%;
   background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;
	}
  input-div {
	 width: 80%;
	 background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;

}
  textarea {
     width: 80%;
     background-color: #FFC5FC;
     color: black;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
  }
  #form-div {
      margin: 100px auto;
  }

  form-div {
      width: 100%;
  }

  form-container{
      text-align: center;
      margin: 50px auto;
      width: 100%;
  }

  table {
      margin: 50px auto;
      width: 100%;
      overflow-x:auto;
      table-layout:fixed;
  }

  button {
    background-color: #094C83;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  img {
      max-width:100%;
      height:auto;
  }

}

@charset "UTF-8";


header.row h2 {
    color: #094C83;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 350%;
    text-align: center;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.40);
}
.logowhite {
	color: #FFF;
}
header.row p {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 3px 5px rgba(0,0,0,0.50);
	letter-spacing: 0.5em;
	color: #FFF;
}
header.row {
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 15px;
	background-repeat: no-repeat, repeat-x;
	background-size: auto 71%, auto auto;
	background-position: 50% center, left top;
	background-color: #FFC5FC ;
	border-top: 2px solid #069;
	border-bottom: 2px solid #069;
	border-left: 2px solid #069;
	border-right: 2px solid #069;
	margin-top: 2px;
}
main.row aside blockquote {
	padding: 0px .5em;
	margin: 0px 0px 5px 0px;
	text-indent: -1em;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
main.row aside blockquote p {
	padding: 0px 5px;
	margin: 0px 0px 5px 0px;
	text-align: -0.5em;
	text-indent: -.5em;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
main.row aside blockquote cite {
	padding: 0px 10px;
	display: block;
	text-align: right;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
main.row aside {
	margin: 1em 0px;
	padding: 1em 10px;
	font-size: 95%;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
.sidebar1 {
	padding: 0px 10px;
	background-color: #FFC5FC;	
}

.sidebar1 h2 {
	margin-top: 10px;
	padding: 0px 10px;
	margin-bottom: 5px;
	font-size: 130%;
	line-height: 1.4em;
}
	

.sidebar2 {
	padding: 0px 10px;
	background-color: #FFC5FC;
}
.sidebar2 h2 {
	margin-top: 10px;
	padding: 0px 10px;
	margin-bottom: 5px;
	font-size: 130%;
	line-height: 1.4em;
}
.sidebar2 p {
	padding: 0px 10px;
	margin-bottom: 5px;
	line-height: 1.3em;
}
footer {
    padding: 1em 0px;
    background-color: #2E607C;
    color: #FFC;
    background-image: -webkit-linear-gradient(270deg,rgba(26,77,114,1.00) 0%,rgba(248,248,248,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(26,77,114,1.00) 0%,rgba(248,248,248,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(26,77,114,1.00) 0%,rgba(248,248,248,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(26,77,114,1.00) 0%,rgba(248,248,248,1.00) 100%);
}
nav {
  position:relative;
    width:100%;
    display:inline-block;
    overflow: hidden;
    background-color: #2E607C;
    color: #FFC;
    background-image: -webkit-linear-gradient(270deg,rgba(26,77,114,1.00) 0%,rgba(248,248,248,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(26,77,114,1.00) 0%,rgba(248,248,248,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(26,77,114,1.00) 0%,rgba(248,248,248,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(26,77,114,1.00) 0%,rgba(248,248,248,1.00) 100%);

}

td {

  padding:50px;
}

table {

padding:100px;

}

li {
  float:left;
  text-align: center;
  padding: 14px 16px;
  
}

li a{
  color:#FFC;
  text-decoration:none;
  text-align:center;
}

li a:hover {
  background-color: #0f4b7d;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
	font-weight: 400;
	font-family: source-sans-pro, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
main.row article h1 {
	font-family: patua-one;
	font-weight: 400;
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 300%;
	line-height: 1em;
}
.sidebar2 section figure img {
    margin: 0px auto;
    display: block;
}
.sidebar2 section figure figcaption {
    margin: 5px 10px 15px 10px;
}
section h2 {
	margin-top: 15px;
	margin-bottom: 5px;
	color: #090;
	font-size: 170%;
	font-weight: bold;
}



@media (max-width: 426px){
  header.row p {
      letter-spacing: .1em;
  }
  header.row {
      padding: 10px 0px;
      background-size: 75% auto, auto auto;
      font-size: 90%;
  }
  main.row article h1 {
      padding-top: 15px;
      font-size: 185%;
      line-height: 1.1em;
      text-align: center;
  }
  main.row article h2 {
      font-size: 150%;
      line-height: 1.1em;
  }

  .blockstyle {
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  }

  .h3 {
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif
  }

  .h5 { font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif
     font-size:18px
  }
  
 form {
    text-align:center;
  }
	input {
	 width: 80%;
	 background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;
	}
	textarea {
	 width: 80%;
   background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;
	}
  input-div {
	 width: 80%;
	 background-color: #FFC5FC;
	 color: black;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;

  }
  textarea {
     width: 80%;
     background-color: #FFC5FC;
     color: black;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
  }
  #form-div {
      margin: 100px auto;
  }

  form-div {
      width: 100%;
  }

  form-container{
      text-align: center;
      margin: 50px auto;
      width: 100%;
  }

  table {
      margin: 50px auto;
      width: 100%;
      overflow-x:auto;
      table-layout:fixed;
  }

  button {
    background-color: #094C83;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  img {
      max-width:100%;
      height:auto;
  }


}