<!--
Name: Rameel Zahid
Assignment: 05
Purpose: This is the page for the about for the website.
--> 



	<header class="row">
      <header class="col-sm-12">
          
        </header>
		  	<center>
      		<img src="images/PAcificoast Apparel (1).jpg" width="150" height="150" alt=""/>
      		<h2>About Us</h2>
      		<h1>Our Story</h1>
			
	  </header>
      <main class="row">
	<article class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-4">
    <p></p>
    <br>
    <p>
 	Our company was founded in 2018 by two entrepreneurs with a vision of bringing west coast style to everyone around the world. We were inspired by many people who have the desire of living the California lifestyle. With the dreams of others and our passion for fashion, our team created PacifiCoast Apparel. Our mission statement, "Live and Feel like the Coast.", is a message that can hopefully bring our west coast upbringing and fashion influences to the world and inspire many to live and feel the way we do, by the coast.
    </p>
 <br><br><br>

 
</article>
<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="sidebar1" -->
<aside class="col-md-3 sidebar1 col-md-pull-6 col-sm-4 col-sm-pull-8">

  <h2>Our Statement</h2>
  <p><cite>&nbsp;&nbsp; "Live and Feel like the Coast."</cite></p>
 

</aside>
<!-- InstanceEndEditable --><!-- InstanceBeginEditable name="sidebar2" -->
  
</main>