<!--
Name: Rameel Zahid
Assignment: 05
Purpose: This is the page for the catalog section for the website.
--> 
<header class="row">
      <header class="col-sm-12">
          
        </header>
		  	<center>
      		<img src="images/PAcificoast Apparel (1).jpg" width="150" height="150" alt=""/>
      		<h2>Catalog</h2>
      		<h1>Apparel and Accessories</h1>
			
	  </header>
      <main class="row">
	
    <p></p>
 
   <br>
 <div class="row">
  <div class="column" >
    <img src='images/bohodress.jpg' width="250"></img><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Floral Bohemian Dress</p>
    <p>$24.99</p>
  </div>
  <div class="column">
    <img src='images/romp.jpg' width="250"></img><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Romper</p>
    <p>$14.99</p>
  </div>
  <div class="column">
    <img src='images/beachdress.jpg' width="250"></img><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Beach Dress</p>
    <p>$14.99</p>
  </div>
</div>

<br>
<div class="row">
  <div class="column" >
    <img src='images/halter.jpg' width="250"></img><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>2-Piece Halter Top & Shorts Set</p>
    <p>$11.99</p>
  </div>
  <div class="column">
    <img src='images/vogue.jpg' width="250"></img><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Casual Vogue T-Shirt</p>
    <p>$4.99</p>
  </div>
  <div class="column">
    <img src='images/pants.jpg' width="250"></img><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Bohemian Bell-Bottom Pants</p>
    <p>$11.99</p>
  </div>
</div>

    
    <br><br><br><br>
    <p>*Clicking on images will not lead you to another page. This is only an example layout of a catalog page.</p>
 