<!--
Name: Rameel Zahid
Assignment: 05
Purpose: This is the page for the header section for the website.
-->

<!DOCTYPE html>
<html>
    <head>
        <!-- {{pagetitle}} is a Mustache variable and will be replaced
        with the value from the associative array value from index.php-->
        <title>{{pagetitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="main.css" rel="stylesheet">
        <link rel="icon" href="favicon.gif" type="image/gif">
    </head>
    <body>
        <nav>
              <ul>
                <li><a href="index.php">Home</a></li>
                <li><a href="catalog.php">Catalog</a></li>
                <li><a href="about.php">About Us</a></li>
                <li><a href="contact.php">Contact Us</a></li>
                <li><a href="faq.php">FAQs</a></li>
              </ul>
        </nav>