<!--
Name: Rameel Zahid
Assignment: 05
Purpose: This is the page for the home section for the website.
-->


<div class="body-div">

      <header class="row">
      <header class="col-sm-12">
          
        </header>
		  	<center>
      		<img src="images/PAcificoast Apparel (1).jpg" width="180" height="180" alt=""/>
      		<h2>Live Life Like The Ocean.</h2>
      		<h1>Fashion From The Pacific Coast.</h1>
			
	  </header>
      <main class="row">
		  
        <table>
		
		<tr>
		<td>
  
		<h2>
          Welcome To Our Store.<br><br>
	      Discover your Style<br>
		  with our low prices.<br>
		</h2>
    
		</td>
		<td><img src='images/girlcoast.jpg' width='450'></img></td>
   
   <td>
    
		<h2>
		  Everything on Sale!<br><br>
      Limited Time Only!
		</h2>
    
		</td>
		</tr>
		</table>
			
</main>
    <br>
    <br>
</div>
